
<body align="center">
  <font size="4">

<p>
{{ .Name }}, Thanks for using <a href="{{ .WebsiteURL }}">GitNotify</a> for periodic diffs from public Github repositories <br>
<p><font size="2">Kindly provide any feedback/suggestion/improvements you would like to see  to <a href="mailto:hello@gitnotify.com">hello@gitnotify.com</a></font></p>
Here is the latest diff that was composed
</p>
<!-- split into groups of 5 and add to the list  -->
<table valign="center" border="1">
  {{ $repoCount := len .Data }}
  {{ $count := 5}}
  {{ $lastTd := minus $count 1 }}
  {{ $c := mod $repoCount $count }}
  {{ $tdCount := minus $count $c }}
  {{ range $i, $repo := .Data }}
  {{ $c := mod $i $count }}
  {{ if eq $c 0 }}<tr>{{ end }}
  <td style="padding: 1em;"><a href="#{{cleanRepoName $repo.RepoName}}">{{$repo.RepoName}}</a></td>
  {{ $c := mod $i $count }}
  {{ if eq $c $lastTd }}</tr>{{ end }}
  {{ end }}
  {{ if eq $tdCount $count }}<tr>{{ end }}
  <td style="padding: 1em;" align="center" colspan="{{ $tdCount }}"><a href="{{ .WebsiteURL }}">Track a New Repo</a></td>
</tr></table>
<br>
<table width="800" valign="center" border="1">
<!-- loop through repositories -->
{{ range $repo := .Data }}
{{ with $repo }}
  <tr>
    <td align="center" style="padding: 1em;" colspan="2"><a href="{{ RepoLink "github" .RepoName }}">{{ .RepoName }}</a>
      <a name="{{ cleanRepoName .RepoName }}"></a></td>
  </tr>

  <!-- loop through branches -->
  {{ range $branch, $commit := .References }}
  {{ if ne $commit.NewCommit "" }}
  <tr>
    <td style="padding: 0.7em;" align="right">Branch: <strong><a href="{{ TreeLink "github" $repo.RepoName $branch}}">{{$branch}}</a></strong></td>
    <td style="padding: 0.7em;">
    {{ if eq $commit.OldCommit "" }}
      {{ if eq $commit.NewCommit "<none>" }}
      Branch Not Found
      {{ else }}
      Next message will contain the diff.<br>
      <pre>Previous Commit: Newly Tracked Branch<br>Latest   Commit: {{ $commit.NewCommit }}</pre>
      {{ end }}
    {{ else if eq $commit.OldCommit $commit.NewCommit }}
      No new Commits created recently
    {{ else }}
      <pre>Previous Commit: {{ $commit.OldCommit }}<br>Latest   Commit: {{ $commit.NewCommit}}</pre><br/>
      Code Diff Link: <a href="{{ CompareLink "github" $repo.RepoName $commit.OldCommit $commit.NewCommit }}">{{ $repo.RepoName }}/{{ shortCommit $commit.OldCommit}}..{{shortCommit $commit.NewCommit}}</a> <a href="{{ CompareLink "github" $repo.RepoName $commit.OldCommit $commit.NewCommit }}.diff">[text diff]</a><br>
    {{ end }}
    </td>
  </tr>
  {{ end }}
  {{ end }}
  <!-- END loop through branches -->

  {{ range $t := .Others }}
  {{ with $t }}
  <tr>
    <td style="padding: 0.7em;" align="right">New {{ .Title }}</td>
    <td style="padding: 0.7em;">
      {{ $len := len .References }}
      {{ if eq $len 0 }}
        No new {{.Title}} created recently
      {{ else }}
      <ul>
        {{ range $ref := .References }}
        <li><a href="{{ TreeLink "github" $repo.RepoName $ref }}">{{ $ref }}</a></li>
        {{ end }}
      </ul>
      {{ end }}
    </td>
  </tr>
  {{ end }}
  {{ end }}
<tr><td colspan="2"></td></tr>
{{ end }}
{{ end }}
<!-- END loop through repositories -->
</table>

<br><br>
</font>
<p>
content provided by <a href="http://gitnotify.com/">Git Notify</a><br>
<strong>prepared for: {{ .User }}</strong><br>
<a href="{{ .WebsiteURL }}">unsubscribe</a> if you do not want these messages on the website.
</p>
</body>
