{{ $contactEmail := "hello@gitnotify.com" }}

Hello {{ .Name }},

Thanks for using GitNotify({{ .WebsiteURL }}) for periodic diffs.
Kindly provide any feedback you would like to see to {{$contactEmail}}

NOTE: Emails will be skipped in case of no changes

-------------------------------------------------------------------------------

{{ range $repo := .Data }}
{{ if eq $repo.Changed true}}
{{ with $repo }}
Commit Changes for *{{.Repo.Text}}*

{{ range $diff := .Data }}
{{ with $diff }}

{{ if eq .Changed true}}
{{ if eq .ChangeType "repoBranchDiff" }}
{{ if eq .Error "" }}
* {{.Title.Text}}: {{ range $i, $change := .Changes }}{{$change.Href}}{{ end }}
{{ else }}
^ {{.Title.Text}}: {{ .Error }}
{{ end }}

{{ else }}
{{.Title.Title}}
{{ range $i, $change := .Changes }}
* {{$change.Text}} {{$change.Href}}
{{ end }}
{{ end }}
{{ end }}

{{ end }}
{{ end }}
-------------------------------------------------------------------------------
{{ end }}
{{ end }}
{{ end }}

--
You are receiving this because you are subscribed on GitNotify.
prepared for: {{ .User }} ; unsubscribe option at: {{ .WebsiteURL }}
{{if ne .SavedFile ""}}{{.WebsiteURL}}/changes/{{.SavedFile}}{{end}}
