{{ $contactEmail := "hello@gitnotify.com" }}

<p>Hello {{ .Name }},<br><br>Thanks for using <a href="{{ .WebsiteURL }}">GitNotify</a> for periodic diffs. Provide any feedback to <a href="mailto:{{$contactEmail}}">{{$contactEmail}}</a></p>
<p><strong>NOTE:</strong> Emails will be skipped in case of no changes</p>
<hr>

{{ range $repo := .Data }}
{{ if eq $repo.Changed true}}
{{ with $repo }}
<h4>Commit Changes for <a href="{{.Repo.Href}}">{{.Repo.Text}}</a></h4>

{{ range $diff := .Data }}
{{ with $diff }}

{{ if eq .Changed true}}
{{ if eq .ChangeType "repoBranchDiff" }}
{{ if eq .Error "" }}
<strong>{{.Title.Text}}:</strong>&nbsp;&nbsp;{{ range $i, $change := .Changes }}<a href="{{$change.Href}}">{{$change.Text}}</a>{{ end }}<br/>
{{ else }}
<strong>{{.Title.Text}}:</strong> {{ .Error }} <br/>
{{ end }}
{{ else }}
<p>{{.Title.Title}}</p>
<ul>{{ range $i, $change := .Changes }}
<li><a href="{{$change.Href}}">{{$change.Text}}</a></li>
{{ end }}</ul>
{{ end }}
{{ end }}

{{ end }}
{{ end }}

<hr>

{{ end }}
{{ end }}
{{ end }}

<p style="font-size:small;-webkit-text-size-adjust:none;color:#666;">&mdash;<br>You are receiving this because you are subscribed on <a href="{{ .WebsiteURL }}">GitNotify</a><br>This email is prepared for oauth user: {{ .User }}<br><a href="{{ .WebsiteURL }}">unsubscribe here</a> if you no longer wish to get these messages</p>

<div itemscope itemtype="http://schema.org/EmailMessage">
  <div itemprop="potentialAction" itemscope itemtype="http://schema.org/ViewAction">
    <link itemprop="target" href="https://gitnotify.com/changes/20161222"/>
    <meta itemprop="name" content="View Changes"/>
  </div>
  <meta itemprop="description" content="View this information on GitNotify"/>
</div>
