{{ partial "header" . }}

<div class="pull-right">
  <div class="pull-left">
    {{ if .Data.CronRunning }}
    Emails are scheduled <a class="btn btn-info" href="/user">Modify Settings</a>&nbsp;&nbsp;
    {{ else }}
    To Receive Emails <a class="btn btn-danger" href="/user">Configure Time to Send</a>&nbsp;&nbsp;
    {{ end }}
  </div>

<!-- Post to /run?save=false if you don't want to persist changes -->
<form action="/run" method="post" style="float:left">
  {{ if .Data.EmailPresent }}
  <button type="submit" class="btn btn-success">Check Latest Updates</button>
  {{ else }}
  <a class="btn btn-danger" href="/user">Set Email Address</a>&nbsp;&nbsp;
  {{ end }}
</form>

</div>

{{ $provider := .User.Provider}}

{{ with .Context }}
<div class="row">
  <div class="col-md-10">

{{ range $repo:=.Repos }}

<form action="/" method="post" class="form-horizontal text-left">
{{ with $repo }}

{{ if or (eq .Repo "") (in .Repo "#") }}
  <a name="new"></a>
  {{ partial "new_repo" (dict "content" . "provider" $provider ) }}
{{ else }}
  <a name="{{cleanRepoName .Repo}}"></a>
  <h2>Edit "{{ .Repo }}"</h2>
  <div class="form-group">
    <label for="repo" class="col-sm-4 control-label">Repository Name</label>
    <div class="col-sm-8">
      <input type="hidden" name="repo" value="{{ .Repo }}">
      <p class="form-control-static"><a target="_blank" rel="none" href="{{ WebsiteLink .Provider }}{{.Repo}}">{{ .Repo }}</a></p>
    </div>
  </div>
{{ end }}

<div class="form-group">
  <div class="col-sm-offset-4 col-sm-4">
    <div class="checkbox">
      <label>
        <input type="hidden" name="branches" value="false" />
        <input type="checkbox" name="branches" value="true" {{if .Branches }}checked="checked"{{end}} > Track New Branches
      </label>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="checkbox">
      <label>
        <input type="hidden" name="tags" value="false" />
        <input type="checkbox" name="tags" value="true" {{if .Tags }}checked="checked"{{end}} > Track New Tags
      </label>
    </div>
  </div>
</div>

<div class="form-group">
  <label for="references" class="col-sm-4 control-label">Track Branches</label>
  <div class="col-sm-8">
    <select multiple="multiple" class="form-control" id="references" name="references">
    {{ range $i, $x := .NamedReferences }}
    <option selected="selected" value="{{$x}}">{{$x}}</option>
    {{ end }}
    </select>
    <p class="help-block"></p>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-offset-4 col-sm-8">
    <button type="submit" class="btn btn-success">{{ if eq .Repo "" }}Create{{else}}Update{{end}}</button>
  </div>
</div>

{{ if or (eq .Repo "") (in .Repo "#") }}
  {{ partial "new_repo_js" $provider }}
{{ end }}

{{ end }}
</form>

{{ if or (eq .Repo "") (in .Repo "#") }}{{else}}
<form action="/" method="post">
<input type="hidden" name="repo" value="{{ .Repo }}">
<input type="hidden" name="_delete" value="true">
<button type="submit" style="position: relative;left: 50px;top: -50px;" href="" class="btn btn-danger">Remove</button>
</form>
{{end}}
<hr />
{{ end }}

</div>
<div class="col-md-2">
  <ul class="list-group" style="position:fixed">
    {{ range .Repos }}
    <li class="list-group-item"><strong>{{ if or (eq .Repo "") (in .Repo "#") }}<a href="#new">Track new{{else}}<a href="#{{cleanRepoName .Repo}}">{{.Repo}}{{end}}</a></strong></li>
    {{ end }}
  </ul>
</div>
</div>
{{ end }}

<script>
$('select#references').each(function(){
  repoName = $(this).parents('form').find('input[name=repo]').val();
  // we are going to use a different method for branches of adding a "new repo"
  if (repoName == "") {
    $(this).select2();
    return;
  }
  $(this).select2({
    ajax: {
      context: $(this),
      url: "/typeahead/branch?provider={{$provider}}&repo="+repoName,
      data: function (params) {
        return {};
      },
      // we are overriding the initialised select2 here.once initialized,
      // we do not make an ajax call again to load branches
      success: function(data) {
        var results = [];
        for(i=0; i < data.branches.length ; i++) {
          results.push({id: data.branches[i], text: data.branches[i]})
        }
        $(this).select2({data: results, closeOnSelect: false}).select2('open');
      },
      dataType: 'json',
      cache: true,
      delay: 250,
    }
  })
})
</script>

{{ if not .Data.CronRunning }}
{{ partial "first_time_user" . }}
{{ end }}
{{ partial "footer" . }}
