{{ partial "header" . }}

{{ $nextRunTimeLength := len .Data.NextRunTimes }}
{{ if eq $nextRunTimeLength 0 }}
<div class="alert alert-danger" role="alert">Select Hour/Day/TimeZone or Email to get recurring emails</div>
{{ else }}

<div class="pull-right">
<a class="btn btn-info" href="#scheduled">Scheduled Time for Next {{ $nextRunTimeLength }} Runs</a>
</div>
{{ end }}
{{ with .Context }}
{{ with .User }}
<div class="row">
  <div class="col-md-10">

<form action="/user" method="post" class=" text-left">
  <div class="form-group">
  <label for="email">Email Address</label>
  <input type="email" name="email" id="email" class="form-control input-lg" value="{{.Email}}">
  <p class="help-block">We will use this email address to send you the updates</p>
  </div>

  <div class="form-group">
  <label for="name">Name</label>
  <input type="text" name="name" id="name" class="form-control input-lg" value="{{.Name}}">
  <p class="help-block">We will use this name to address you in the email</p>
  </div>

  <!-- Trying to adopt the Cron flexibility with only 2 fields for now  -->
  {{ $hours := (slice "00" "01" "02" "03" "04" "05" "06" "07" "08" "09" "10" "11" "12" "13" "14" "15" "16" "17" "18" "19" "20" "21" "22" "23") }}
  {{ $hourExistingList := split .Hour "," }}
  {{ $count := len .Hour }}
  <div class="form-group">
  <label for="hour">Select Hours</label>
  <p class="help-block">{{ if eq $count 0 }}We suggest to select 08 hrs or 17hrs depending on when you have free time{{end}}</p>
  <select name="hour" id="hour" class=" form-control" multiple="multiple">
    <option class="input-lg" value="*">Every Hour</option>
    {{ range $hour := $hours }}<option class="input-lg" value="{{$hour}}"{{ if in $hourExistingList $hour}} selected="selected"{{end}}>{{$hour}} hrs</option>{{ end }}
  </select>
  <p class="help-block">Use Command Key on Mac (or) Ctrl key on Windows/Linux to select more than one option</p>
  </div>

  {{ $weekdays := (slice "Sunday" "Monday" "Tuesday" "Wednesday" "Thursday" "Friday" "Saturday") }}
  {{ $weekdaysExistingList := split .WeekDay "," }}
  {{ $count := len .WeekDay }}
  <div class="form-group">
  <label for="weekday">Select days of week</label>
  <p class="help-block">{{ if eq $count 0 }}We suggest you select Monday through Thursday{{end}}</p>
  <select name="weekday" id="weekday" class="form-control" multiple="multiple">
    <option value="*" class="input-lg">Every Day</option>
    {{ range $i, $day := $weekdays }}{{$j:= str $i}}<option class="input-lg" value="{{$i}}"{{if in $weekdaysExistingList $j}} selected="selected"{{end}}>{{$day}}</option>{{ end }}
  </select>
  <p class="help-block">Use Command Key on Mac (or) Ctrl key on Windows/Linux to select more than one option</p>
  </div>

  <!-- TZ management without Daylight Savings. Contribute if you can so that we can include dropdown of TZs -->
  <div class="form-group">
  <label for="tz">TimeZone Offset</label>
  <input type="text" name="tz" id="tz" maxlength="5" minlength="5" class="form-control input-lg" placeholder="GMT Offset: +0000 | +0100 | +0530 | -0700" value="{{.TimeZone}}" onchange="displayTzOptions(false)">
  <p class="help-block"><a href="javascript:loadFromSystem(true)">Load from System Time</a>. TimeZone Offset is calculated from the browser. Extremes are -1200 &amp; +1400 <br />
  <strong>NOTE:</strong> Use TimeZone name to consider Daylight Savings. Only valid TimeZone Names get displayed on change</p>
  </div>

  <div class="form-group">
  <label for="tzName">TimeZone Name</label>
  <select name="tzName" id="tzName" maxlength="5" minlength="5" class="form-control input-lg">
    <option selected="selected" value="{{.TimeZoneName}}">{{.TimeZoneName}}</option>
  </select>
  <p class="help-block"><a href="javascript:displayTzOptions(true)">Load All TimeZones</a> | <a href="javascript:displayTzOptions(false)">Reload Names from Offset</a><br/>TimeZone name is used to schedule the email</p>
  </div>

  <button type="submit" class="btn btn-info btn-lg">Save My Preferences</button>

</form>
{{ end }}
{{ end }}

{{ if gt $nextRunTimeLength 0 }}
<a name="scheduled"></a>
<h3>Next Jobs will run at</h3>
<ul class="list-group">
{{ range $a := .Data.NextRunTimes }}
<li class="list-group-item">{{$a}}</li>
{{ end }}
</ul>
{{ end }}

<script>

$('select').select2();

function pad(number, length){
  var str = "" + number
  while (str.length < length) {
      str = '0'+str
  }
  return str
}

function displayTzOptions(all) {
  var tz = $("input[name=tz]").val();
  var url;
  if (tz == "" || all == true) {
    url = "/typeahead/tz";
  } else {
    url = "/typeahead/tz?offset="+convertOffsetToInteger(tz);
  }
  $.ajax({
    url: url,
    cache: true,
    success: setTimezones
  });

}

function setTimezones(json) {
  $("#tzName").empty()
  for (i =0 ; i < json.length ; i++ ) {
    o = json[i];
    var option = $('<option></option>').attr("value", o).text(o);
    $("#tzName").append(option);
  }
}

function convertOffsetToInteger(offset) {
  var mult = 1;
  if (offset[0] == "-") {
    mult = -1;
  }
  return mult * (parseInt(offset[1]+offset[2]) + parseInt(offset[3]+offset[4])/60)
}

function getTZOffset() {
  var offset = new Date().getTimezoneOffset();
  offset = ((offset<0? '+':'-')+ // Note the reversed sign!
            pad(parseInt(Math.abs(offset/60)), 2)+
            pad(Math.abs(offset%60), 2));
  return offset;
}
function loadFromSystem(force) {
var offset = getTZOffset();
var tz = $("input[name=tz]");
if(force) {tz.val(offset); displayTzOptions(false)}
if(tz.val() === "") {tz.val(offset);}
return false
}
loadFromSystem(false)
</script>

</div>
</div>


{{ partial "footer" . }}
