<script>
function pad(number, length){
  var str = "" + number
  while (str.length < length) {
      str = '0'+str
  }
  return str
}

function getTZOffset() {
  var offset = new Date().getTimezoneOffset();
  offset = ((offset<0? '+':'-')+ // Note the reversed sign!
            pad(parseInt(Math.abs(offset/60)), 2)+
            pad(Math.abs(offset%60), 2));
  return offset;
}

// The user is coming in first time, we will put in a schedule for him at 8am every day based on their TZ
$.ajax({
  url: "/user?reset=default",
  type: 'POST',
  data: { hour: "08", weekday: "*", tz: getTZOffset() },
  dataType: "text"
});

</script>
