<html>
  <head>
    <meta charset="UTF-8">
    <link rel="dns-prefetch" href="//cdnjs.cloudflare.com">
    <link rel="dns-prefetch" href="//fonts.googleapis.com">

    <link type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link type="text/css" href="//twitter.github.io/typeahead.js/css/examples.css" rel="stylesheet" crossorigin="anonymous">
    <link href="//fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">

    <style type="text/css">

    body {
      font-family: Roboto, Helvetica, Arial, sans-serif;
      margin: 0px auto;
    }
    </style>
    <title>{{.Title}} | GitNotify</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
  </head>
  <body>
    <div class="row text-center">
      <div class="col-xs-12 col-sm-12 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6">
        <nav>
          {{ if eq .User.UserName "" }}
            <div class="alert alert-warning" role="alert">You need to login to use the service</div>
          {{ else }}
            <a class="btn btn-danger" href="/logout" style="float:right">Logout</a>
            <span style="float:right">Logged in as <strong>@{{.User.UserName}}({{.User.Provider}})</strong> &nbsp;&nbsp;</span>
            <h1 class="text-center">{{.PageTitle}}</h1>
          {{ end }}
        </nav>
        {{ range $x := .Flashes }}
        <div class="alert alert-info" role="alert">{{ $x | safeHTML }}</div>
        {{ end }}
