{{ $provider := .provider }}

<h2>Track a New Repository</h2>

{{ with .content }}
{{ if eq $provider "github"}}
<h4>No repos to track? May we offer some suggestions?</h4>
<ul id="typeaheadUsage">
<li><code>docker</code> <code>rails</code> <code>react</code> <code>awesome-go</code> <code>caddy</code> </li>
<li><code>rea user:facebook</code> - Finds all repos from "facebook" org having "rea" </li>
<!-- <li><code>user:defunkt forks:>100</code> - List all repos from "defunkt" user with more than "100" forks </li>
<li><code>fork:true</code> - to include forked repos (by default only non-forked repostories are present)</li>
<li><code>fork:only</code> - excludes default parent repos</li>
<li><code>stars:10..100</code> - list repositories that have 10 to 100 stars</li>
<li><code>size:>=30000</code> - List repositories that are at least 30 MB</li>
<li><code>webos created:<2011-01-01</code> Matches repositories with "webos" that were created before "2011"</li> -->
<li><code>language:go</code> - includes only those are of Go</li>
<li><code>jquery in:name,description</code> - search for "jquery" in name and description</li>
<li><code>caddy in:name,readme</code> - search for caddy in the name and readme</li>
</ul>
<div class="form-group">
  <label for="repo" class="col-sm-4 control-label">Repository Name</label>
  <div class="col-sm-8">
    <input type="text" class="form-control" id="repoNew" value="{{ .Repo }}" name="repo" placeholder="rails/rails | react | user:facebook | kafka user:apache | wordpress">
    <p class="help-block">Add the name of the github repository to track <br>
    <a href="https://developer.github.com/v3/search/#search-repositories" target="_blank">Advanced Usage Guide</a><br>
    </p>
  </div>
</div>

{{ else if eq $provider "gitlab"}}

<h4>Track the repositories you are part of</h4>
<p>Gitlab only allows users to track the projects the current user is authorised for</p>
<div class="form-group">
  <label for="repo" class="col-sm-4 control-label">Repository Name</label>
  <div class="col-sm-8">
    <input type="text" class="form-control" id="repoNew" value="{{ .Repo }}" name="repo" placeholder="rails | reponame | projectname">
    <p class="help-block">Add the name of the gitlab repository to track <br>
    </p>
  </div>
</div>
{{ end }}

{{ end }}
