{{ $provider := .Provider }}
<div class="row">
{{ range $org := .Orgs }}
{{ with $org }}

<div class="col-md-4" style="border: 1px solid #ccc;">
<form action="/" method="post" class="form-inline text-center">
  <h4>{{.Type}}: <a target="_blank" rel="none" href="{{ WebsiteLink $provider }}{{.Name}}">{{ .Name }}</a></h4>

  <input type="hidden" name="org" value="{{ .Name }}">
  <input type="hidden" name="_delete" value="true">
  <button type="submit" style="" class="btn btn-sm btn-danger">Remove</button>

</form>
</div>

{{ end }}
{{ end }}
</div>
